@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 221 0% 95%;
    --foreground: 221 0% 0%;
    --card: 221 0% 90%;
    --card-foreground: 221 0% 10%;
    --popover: 221 0% 95%;
    --popover-foreground: 221 95% 0%;
    --primary: 221 83% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 221 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 183 10% 85%;
    --muted-foreground: 221 0% 35%;
    --accent: 183 10% 80%;
    --accent-foreground: 221 0% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 221 0% 90%;
    --border: 221 20% 50%;
    --input: 221 20% 18%;
    --ring: 221 83% 52%;
    --radius: 0.75rem;
    --sidebar-background: 221 0% 95%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 221 0% 0%;
    --sidebar-primary-foreground: 221 0% 95%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 2221 0% 0%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 221 10% 5%;
    --foreground: 221 0% 90%;
    --card: 221 0% 0%;
    --card-foreground: 221 0% 90%;
    --popover: 221 10% 5%;
    --popover-foreground: 221 0% 90%;
    --primary: 221 83% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 221 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 183 10% 15%;
    --muted-foreground: 221 0% 60%;
    --accent: 183 10% 15%;
    --accent-foreground: 221 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 221 0% 90%;
    --border: 221 20% 18%;
    --input: 221 20% 18%;
    --ring: 221 83% 52%;
    --radius: 0.75rem;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
